<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%} {{ title }} {%endblock%}</title>
</head>
<body>

{% if user.pk %}
{% block header %}
    <form method="POST" action="{% url 'users:logout' %}">
    {% csrf_token %}
        <button type="submit"> Logout </button>
    </form>
    <hr>

    <a href="{% url 'users:profile' %}">Profile</a>


{% endblock header %}
{% endif %}
<main>
    {%block content%} HI! {%endblock%}
</main>
</body>
</html>