DJANGO_SECRET_KEY=

DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

TURNSTILE_SITEKEY=
TURNSTILE_SECRET=

GOOGLE_OAUTH_KEY=
GOOGLE_OAUTH_SECRET=

DB_NAME=Devspace_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
TLS=True
